{% extends "base.html" %}
{% load static %}

{% block content %} <br>
<style>
    p{
        font-size: 20px;
        text-align: center;
        padding-left: 10%;
    }
</style>

<br><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum eveniet voluptatem id laudantium repellendus molestiae ea nobis, </p><p>inventore sint soluta natus facilis ut eos est nulla corrupti, aliquid non eaque?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quaerat, dolore ducimus molestias repudiandae omnis natus distinctio a est,</p> <p> ex non iure odio fugiat eum consequuntur neque repellat. Nulla, commodi?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, fugiat incidunt ipsam ratione id dolores neque excepturi error minus velit cumque molestiae.</p> <p>Omnis, dicta. Vero modi asperiores voluptate eum itaque?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur iure porro provident, eius officiis nisi debitis omnis deserunt nobis inventore</p> <p>voluptatum et rerum similique, placeat soluta! Dolorum, eaque! Tenetur, nobis.</p>

<h1>hola</h1>

<br> {% endblock %}
